{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estudiante list</h1>

    <table>
        <thead>
            <tr>
                <th>Cedula</th>
                <th>1er Año</th>
                <th>2do Año</th>
                <th>3er Año</th>
                <th>4to Año</th>
                <th>Cantmaterias</th>
                <th>Promedio</th>
                <th>1ra Opcion</th>
                <th>2da Opcion</th>
                <th>Sexo</th>
                <th>Internet</th>
                <th>Opsu</th>
                <th>Gestion plantel</th>
                <th>Tipo plantel</th>
                <th>Nivel socioeconomico</th>
                <th>Nivel estudio padres</th>
            </tr>
        </thead>
        <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td><a href="{{ path('estudiante_show', { 'id': estudiante.id }) }}">{{ estudiante.cedula }}</a></td>
                <td>{{ estudiante.notaPrimero }}</td>
                <td>{{ estudiante.notaSegundo }}</td>
                <td>{{ estudiante.notaTercero }}</td>
                <td>{{ estudiante.notaCuarto }}</td>
                <td>{{ estudiante.cantMaterias }}</td>
                <td>{{ estudiante.promedio }}</td>
                <td>{{ estudiante.primeraOpcionOpsu }}</td>
                <td>{{ estudiante.segundaOpcionOpsu }}</td>
                <td>{{ estudiante.sexo }}</td>
                <td>{% if estudiante.tieneAccesoInternet %}Sí{% else %}No{% endif %}</td>
                <td>{% if estudiante.esAsignadoOPSU %}Sí{% else %}No{% endif %}</td>
                <td>{{ estudiante.gestionPlantel }}</td>
                <td>{{ estudiante.tipoPlantel }}</td>
                <td>{{ estudiante.nivelSocioeconomico }}</td>
                <td>{{ estudiante.nivelEstudioPadres }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estudiante_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
