{% extends '::base.html.twig' %}
{% form_theme form _self %}
{% block widget_attributes %}
    id="{{ id }}" name="{{ full_name }}"
    {% if disabled %} disabled="disabled"{% endif %}
    {% if required %} required="required"{% endif %}
    {% for attrname, attrvalue in attr %}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
    {{- " " -}}
    {% if value is not empty %}
        value="{{ value }}"
        ng-init="formData.{{ id }}='{{ value }}';"
    {% endif %}
    ng-model="formData.{{ id }}"
    ng-class="{ error: formInputEstudiante['{{ full_name }}'].$invalid && formInputEstudiante['{{ full_name }}'].$touched, valid: formInputEstudiante['{{ full_name }}'].$valid}"
{%- endblock widget_attributes -%}
 
{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    
        <input type="{{ type }}" {{ block('widget_attributes') }} />
        {% if type == "text" %}
        <p class="text-warning" ng-if="formInputEstudiante['{{ full_name }}'].$error.minlength"><i class="fa fa-exclamation-triangle"></i> Texto muy corto.</p>
        <p class="text-warning" ng-if="formInputEstudiante['{{ full_name }}'].$error.maxlength"><i class="fa fa-exclamation-triangle"></i> Texto muy largo.</p>
        {% endif %}
        {% if type == "date" %}
        <p class="text-danger" ng-if="formInputEstudiante['{{ full_name }}'].$error.date"><i class="fa fa-exclamation-triangle"></i> Fecha invalida.</p>
        <p class="text-warning" ng-if="formInputEstudiante['{{full_name}}'].$error.min"><i class="fa fa-exclamation-triangle"></i> Inferior al permitido.</p>
        <p class="text-warning" ng-if="formInputEstudiante['{{ full_name }}'].$error.max"><i class="fa fa-exclamation-triangle"></i> Superior al permitido.</p>
        {% endif %}

    <p class="text-danger" ng-if="formInputEstudiante['{{ full_name }}'].$touched && formInputEstudiante['{{ full_name }}'].$error.required"> <i class="fa fa-exclamation-triangle"></i> Este Campo es requerido.</p>
    {#
    <!--p>formInputEstudiante['{{ full_name }}'] = "[[ formInputEstudiante['{{ full_name }}'] ]]"</p>
    <p>formInputEstudiante['{{ full_name }}'].$pristine = [[ formInputEstudiante['{{ full_name }}'].$pristine ]]</p>
    <p>formInputEstudiante['{{ full_name }}'].$error.required = [[ formInputEstudiante['{{ full_name }}'].$error.required ]]</p>
    <p>formInputEstudiante['{{ full_name }}'].$error = [[ formInputEstudiante['{{ full_name }}'].$error ]]</p>
    <p>formInputEstudiante['{{ full_name }}'].$valid = [[ formInputEstudiante['{{ full_name }}'].$valid ]]</p-->#}
{% endspaceless %}
{% endblock form_widget_simple %}

{%- block choice_widget_collapsed -%}
{% spaceless %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
    <p class="text-danger" ng-show="formInputEstudiante['{{ full_name }}'].$touched && formInputEstudiante['{{ full_name }}'].$error.required"> <i class="fa fa-exclamation-triangle"></i> Este Campo es requerido.</p>
    {#
    <!--p>formInputEstudiante['{{ full_name }}'].$error.required = [[ formInputEstudiante['{{ full_name }}'].$error.required ]]</p>
    <p>formInputEstudiante['{{ full_name }}'].$error = [[ formInputEstudiante['{{ full_name }}'].$error ]]</p>
    <p>formInputEstudiante['{{ full_name }}'].$valid = [[ formInputEstudiante['{{ full_name }}'].$valid ]]</p -->
    #}
{% endspaceless %}
{%- endblock choice_widget_collapsed -%}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul class="alert alert-danger">
        {%- for error in errors -%}
            <li>{{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}
{% use 'form_div_layout.html.twig' with form_label %}
{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) -%}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty %}
            {% if label_format is not empty -%}
                {% set label = label_format|replace({'%name%': name,'%id%': id,}) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><i class="fa fa-check-circle text-success" ng-show="isValid('{{ full_name }}')"></i>{{ label|trans({}, translation_domain) }}{% if required %}<span style="color:red" title="Este campo es requerido"> (*)</span>
        {% endif %}
        {% if 'history' in label_attr.class %}
            <a data-toggle="modal" href="#{{historyUrl}}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></a>
        {% endif %}
        {% if 'help' in label_attr.class %}
            <a data-toggle="modal" href="#{{helpUrl}}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
        {% endif %} 
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}
{############################################################################}
{% block body %}
<section class="content-header">
    <h1>Estudiante&nbsp;<small class="label {% if edition is defined %}bg-yellow"><i class="fa fa-edit"></i> Edición{% else %}bg-green"><i class="fa fa-user-plus"></i> Registro{% endif %}</small></h1>
</section>
<!-- Main content -->
<section class="content" ng-controller="newEstudianteController">
    <div class="box box-success">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="box-body">
                    <fieldset>
                        <legend>Datos Personales:</legend>
                        <div class="form-group col-md-3">
                            {{ form_row(form.nombre) }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form_row(form.apellido) }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form_row(form.cedula) }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form_row(form.genero) }}
                        </div>
                        <div class="col-md-6 form-group{% if form.usuario.email.vars.errors[0].message is defined %} has-error{% endif %}">
                            {{ form_label(form.usuario.email, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.usuario.email, {'attr': {'class': 'form-control'}}) }}
                                {% if form.usuario.email.vars.errors[0].message is defined %}
                                <span class="help-block" style="position: absolute;">
                                    {{ form.usuario.email.vars.errors[0].message }}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 form-group{% if form.usuario.username.vars.errors[0].message is defined %} has-error{% endif %}">
                            {{ form_label(form.usuario.username, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.usuario.username, {'attr': {'class': 'form-control'}}) }}
                                {% if form.usuario.username.vars.errors[0].message is defined %}
                                <span class="help-block" style="position: absolute;">
                                    {{ form.usuario.username.vars.errors[0].message }}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        {% if not edition is defined %}
                        <div class="col-md-6 form-group{% if form.usuario.plainPassword.first.vars.errors[0].message is defined %} has-error{% endif %}">
                            {{ form_label(form.usuario.plainPassword.first, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.usuario.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                {% if form.usuario.plainPassword.first.vars.errors[0].message is defined %}
                                <span class="help-block" style="position: absolute;">
                                    {{ form.usuario.plainPassword.first.vars.errors[0].message }}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 form-group{% if form.usuario.plainPassword.second.vars.errors[0].message is defined %} has-error{% endif %}">
                            {{ form_label(form.usuario.plainPassword.second, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.usuario.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                {% if form.usuario.plainPassword.second.vars.errors[0].message is defined %}
                                <span class="help-block" style="position: absolute;">
                                    {{ form.usuario.plainPassword.second.vars.errors[0].message }}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </fieldset>
                    {% if edition is defined %}
                        {% if advanced is defined %}
                            <div style="text-align:center;">
                                <a class="btn btn-primary btn-flat" href="{{ path('estudiante_edit', { 'id': edition }) }}"><i class="fa fa-arrow-up"></i>&nbsp;Edición Simple</a>
                            </div>
                            <br/>
                            <div class="alert alert-danger" role="alert"><strong>AVISO:</strong> Se perderá <strong>Todo el progreso</strong> que el estudiante alla alcanzado, ya que se realizará una nueva predicción.</div>
                        {% else %}
                            <div style="text-align:center;">
                                <a class="btn btn-default btn-flat" href="{{ path('estudiante_edit_advanced', { 'id': edition }) }}"><i class="fa fa-arrow-down"></i>&nbsp;Edición Avanzada</a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-info" role="alert">Los datos acontinuación seran usados para la predicción, <strong>Es importante</strong> que estos no se editen.</div>
                    {% endif %}
                    {% if edition is defined and advanced is defined or not edition is defined and not advanced is defined %}
                    <fieldset>
                        <legend>Datos Academicos:</legend>
                        <div class="form-group">
                            <h4 class="col-md-3">Admisión</h4>
                            <div class="form-group col-md-3">
                                {{ form_row(form.primeraOpcion) }}
                            </div>
                            <div class="form-group col-md-3">
                                {{ form_row(form.segundaOpcion) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_row(form.esAsignadoOPSU) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 class="col-md-3 col-md-4">Promedio</h4>
                            <div class="form-group col-md-4 col-sm-4 col-xs-6">
                                {{ form_row(form.promedio) }}
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-6">
                                {{ form_row(form.cantMaterias) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 class="col-md-3">Notas Matematica</h4>
                            <div class="form-group col-md-2 col-sm-3 col-xs-6">
                                {{ form_row(form.notaPrimero) }}
                            </div>
                            <div class="form-group col-md-2 col-sm-3 col-xs-6">
                                {{ form_row(form.notaSegundo) }}
                            </div>
                            <div class="form-group col-md-2 col-sm-3 col-xs-6">
                                {{ form_row(form.notaTercero) }}
                            </div>
                            <div class="form-group col-md-2 col-sm-3 col-xs-6">
                                {{ form_row(form.notaCuarto) }}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Datos Socio :</legend>   
                        <div class="form-group col-lg-2">
                            {{ form_row(form.gestionPlantel) }}
                        </div>
                        <div class="form-group col-lg-3">
                            {{ form_row(form.tipoPlantel) }}
                        </div>
                        <div class="form-group col-lg-3">
                            {{ form_row(form.nivelSocioeconomico) }}
                        </div>
                        <div class="form-group col-lg-4">
                            {{ form_row(form.nivelEstudioPadres) }}
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Credenciales:</legend>   
                        <div class="callout callout-info">
                            <p>Debe Adjuntar un archivo PDF, que contenga: <strong>Cedula de indentidad, Tutulo de Bachiller y Notas certificada</strong>, cuyos datos deben coincidir con los suministrados. <a href="">Archivo Demo</a></p>
                        </div>
                        <div class="form-group">
                            {% if form.credencial.errors[0].message is defined %} 
                                <span class="help-block">{{ form_errors(form.credencial) }}</span>
                            {% endif %}
                            {{ form_widget(form.credencial) }}
                        </div>
                    </fieldset>
                    {% endif %}
            </div>
            <div class="box-footer">
                {% if app.user %}
                    <a class="btn btn-danger btn-flat" href="{% if edition is defined %}{{ path('estudiante_show', { 'id': edition }) }}{% else %}{{ path('estudiante_index') }}{% endif %}"><i class="fa fa-arrow-left"></i>&nbsp;Cancelar</a>
                {% else %}
                    <a class="btn btn-danger btn-flat" href="{{ path('fos_user_security_login') }}"><i class="fa fa-arrow-left"></i>&nbsp;Cancelar</a>
                {% endif %}
                <button class="btn btn-primary btn-flat pull-right" type="submit" id="estudiante_submit" name="estudiante[submit]" ><i class='fa fa-save'></i>&nbsp;Guardar </button>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
</section>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/fileinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/fileinput_locale_es.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('#estudiante_registration_credencial').fileinput({
            language: 'es',
            //uploadUrl: '#',
            allowedFileExtensions : ['pdf'],
            showUpload: false,
            showClose:false,
            maxFileSize: 20000,//KB
        });
    </script>
    {% javascripts
        '@AppBundle/Resources/public/angularjs/Estudiante/newEstudianteModule.js'
        '@AppBundle/Resources/public/angularjs/Estudiante/newEstudianteController.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}