{% extends 'base.html.twig' %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Perfil</h1>
    </section>
    <!-- Main content -->
    <section class="content" ng-controller="showEstudianteController">
        
                        <!-- /.box-body -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#datos" data-toggle="tab">Datos</a></li>
                <li><a href="#progreso" data-toggle="tab">Progreso</a></li>
                {#<li><a href="#settings" data-toggle="tab">Settings</a></li>#}
                {% if is_granted('ROLE_VERIFICADOR') and verify_form is defined %}
                <li style="float: right;background:rgba(34,34,34,0.5);">
                    {{ form_start(verify_form) }}
                    {{ form_errors(verify_form) }}
                    <div class="form-group ">
                    {{ form_widget(verify_form.estado)}}
                    </div>
                    <button type="submit" id="form_submit" name="form[submit]" class="btn btn-default">Guardar</button>            
                    {{ form_widget(verify_form._token) }}
                    {{ form_end(verify_form, {'render_rest': false}) }}
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div class="active tab-pane row" id="datos">
                    <!-- Datos basicos e institucionales-->
                    <div class="box-primary col-md-4 col-xs-12">
                        <div class="box-body box-profile">
                            {#<img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture"> #}
                            <h3 class="profile-username text-center">{{estudiante.nombre}} {{estudiante.apellido}}</h3>
                            <p class="text-muted text-center">Estudiante</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Usuario</b> <a class="pull-right" href="{{ path('user_show', { id: estudiante.usuario.id }) }}">{{ estudiante.usuario.username }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Cédula</b> <span class="pull-right"> {{ estudiante.cedula }}</span>
                                </li>
                                <li class="list-group-item">
                                  <b>Genero</b> <span class="pull-right"> {% if estudiante.genero %}Masculino{% else %}Femenino{% endif %}</span>
                                </li>
                                <li class="list-group-item">
                                  <b>Credenciales</b> <a class="pull-right" href="{{ asset('uploads/credenciales/' ~ estudiante.credencial ) }}" target="_blank" > Abrir archivo</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Ha sido verificado</b> <span class="pull-right label label-{% if estudiante.estado == 2 %}danger{% elseif estudiante.estado == 1 %}warning{% else %}success{% endif %}">{{ CONST['ESTADOS'][estudiante.estado] }}</span>
                                </li>
                                {#
                                <li class="list-group-item">
                                  <b>Último Acceso</b> <span class="pull-right">{% if estudiante.usuario.lastLogin %}{{ estudiante.usuario.lastLogin|date('Y-m-d H:i') }}{% else %}nunca{% endif %}</span>
                                </li>
                                <li class="list-group-item">
                                  <b>Friends</b> <span class="pull-right">13,287</span>
                                </li>
                                #}
                            </ul>
                            <h3 class="profile-username text-center">Institucionales</h3>
                            <p class="text-muted text-center">Plantel</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Tipo</b> <span class="pull-right">{{ CONST['TIPOS_PLANTEL'][estudiante.tipoPlantel] }}</span>
                                </li>
                                <li class="list-group-item">
                                  <b>Gestión</b> <span class="pull-right">{{ CONST['GESTIONES_PLANTEL'][estudiante.gestionPlantel] }}</span>
                                </li>
                            </ul>
                        </div><!-- /.datos basicos -->
                    </div><!-- /.box -->
                    <!-- Notas matematica -->
                    <div class="box-primary col-md-3  col-xs-12">
                        <div class="box-body">
                            <h3 class="profile-username text-center">Academicos</h3>
                            <p class="text-muted text-center">Notas Matematicas</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>1er Año</b> <span class="pull-right">{{ estudiante.notaPrimero }}</span>
                                </li>
                                <li class="list-group-item">
                                  <b>2do Año</b> <span class="pull-right">{{ estudiante.notaSegundo }}</span>
                                </li>
                                <li class="list-group-item">
                                  <b>3er Año</b> <span class="pull-right">{{ estudiante.notaTercero }}</span>
                                </li>
                                <li class="list-group-item">
                                  <b>4to Año</b> <span class="pull-right">{{ estudiante.notaCuarto }}</span>
                                </li>
                            </ul>
                            <p class="text-muted text-center">Promedio</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Total Cursadas</b> <span class="pull-right">{{ estudiante.cantMaterias }}</span>
                                </li>
                                <li class="list-group-item">
                                  <b>Promedio</b> <span class="pull-right">{{ estudiante.promedio }}</span>
                                </li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div><!-- /.notas matematica -->
                    <!-- Opsu y socio-econimicos-->
                    <div class="box-primary col-md-4  col-xs-12">
                        <div class="box-body">
                            <h3 class="profile-username text-center">Admisión</h3>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>OPSU</b> <span class="pull-right">{% if estudiante.esAsignadoOPSU %}Sí,{% else %}No{% endif %} asignado.</span>
                                </li>
                                <li class="list-group-item">
                                  <b>1era Opción</b> <span class="pull-right">{{ CONST['CARRERAS'][estudiante.primeraOpcion] }}</span>
                                </li>
                                <li class="list-group-item">
                                  <b>2da Opción</b> <span class="pull-right">{{ CONST['CARRERAS'][estudiante.segundaOpcion] }}</span>
                                </li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div><!-- /.opsu y socio-economicos-->
                    <!-- Socio-economicos -->
                    <div class="box-primary col-md-4  col-xs-12">
                        <div class="box-body">
                            <h3 class="profile-username text-center">Socio-economicos</h3>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Nivel</b> <span class="pull-right">{{ CONST['NIVELES_SOCIOECONOMICOS'][estudiante.nivelSocioeconomico] }}</span>
                                </li>
                                <li class="list-group-item">
                                </li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div><!-- /.socio-economicos -->
                </div><!-- /.tab-pane datos-->
                {% if is_granted('ROLE_ESTUDIANTE') or is_granted('ROLE_PROFESOR') %}
                <div class="tab-pane" id="progreso">
                  <span ng-if="practicaSelect" class="animate-if"><p><strong>Fecha:</strong>&nbsp;[[fechaPractica]],&nbsp;&nbsp;&nbsp;&nbsp;<strong>Dificultad:</strong>&nbsp;[[dificultadPractica]],&nbsp;&nbsp;&nbsp;&nbsp;<strong>Calificación:</strong>&nbsp;[[calificacionPractica]]%,&nbsp;&nbsp;&nbsp;&nbsp;<strong>Tema:</strong>&nbsp;[[temaPractica]],{% if is_granted('ROLE_PROFESOR') %}&nbsp;&nbsp;&nbsp;&nbsp;<a ng-href="urlPractica"><i class="fa fa-plus"></i>&nbsp;más detalles</a>{% endif %}</p></span>
                  <div class="chart"><canvas height="40" width="100" id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas></div>

                </div>
                {% endif %}
                <div class="tab-pane" id="settings">
                   
                </div><!-- /.tab-pane settings-->
            </div><!-- /.tab-content -->
        </div><!-- /.nav-tabs-custom -->
        <div>
            <a class="btn btn-default btn-flat" href="{{ path('estudiante_index') }}"><i class="fa fa-arrow-left"></i>&nbsp;ir a lista</a>
            {% if is_granted('ROLE_ESTUDIANTE') and estudiante.estado == 2 %}
            <a class="btn btn-warning btn-flat pull-right" href="{{ path('estudiante_edit', { 'id': estudiante.id }) }}"><i class="fa fa-edit"></i>&nbsp;Editar</a>
            {% endif %}
        </div>

    </section><!-- /.content -->
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">.animate-if {padding:10px;}.animate-if.ng-enter, .animate-if.ng-leave {transition:all cubic-bezier(0.250, 0.460, 0.450,.940) 0.5s;}.animate-if.ng-enter,.animate-if.ng-leave.ng-leave-active {  opacity:0;}.animate-if.ng-leave,.animate-if.ng-enter.ng-enter-active { opacity:1;}</style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
          var practicas = "{{ practicas|json_encode }}";
          var div = document.createElement('div');
          div.innerHTML = practicas;
          practicas = div.firstChild.nodeValue;
          practicas = JSON.parse(practicas);
          console.log("practicas",practicas);
    </script>
    <script src="{{ asset('bundles/app/plugins/jQuery/jQuery-2.2.0.min.js') }}" type="text/javascript"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="{{ asset('bundles/app/plugins/chartjs/Chart.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/angular-chart/angular-chart.min.js') }}" type="text/javascript"></script>

    {% javascripts
        '@AppBundle/Resources/public/angularjs/Estudiante/showEstudianteModule.js'
        '@AppBundle/Resources/public/angularjs/Estudiante/showEstudianteController.js' output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}