{% extends 'base.html.twig' %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Perfil</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#datos" data-toggle="tab">Datos</a></li>
                <li><a href="#timeline" data-toggle="tab">Progreso</a></li>
                <li><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane row" id="datos">
                    <!-- Datos basicos e institucionales-->
                    <div class="box-primary col-sm-4">
                        <div class="box-body box-profile">
                            {#<img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture"> #}
                            <h3 class="profile-username text-center">{{estudiante.nombre}} {{estudiante.apellido}}</h3>
                            <p class="text-muted text-center">Estudiante</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Usuario</b> <a class="pull-right" href="{{ path('user_show', { id: estudiante.usuario.id }) }}">{{ estudiante.usuario.username }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Cédula</b> <a class="pull-right"> {{ estudiante.cedula }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Genero</b> <a class="pull-right"> {% if estudiante.genero %}Masculino{% else %}Femenino{% endif %}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Credenciales</b> <a class="pull-right" href="{{ asset('uploads/credenciales/' ~ estudiante.credencial ) }}" target="_blank" > Abrir archivo</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Ha sido verificado</b> <a class="pull-right">{{ CONST['ESTADOS'][estudiante.estado] }}</a>
                                </li>
                                {#
                                <li class="list-group-item">
                                  <b>Último Acceso</b> <a class="pull-right">{% if estudiante.usuario.lastLogin %}{{ estudiante.usuario.lastLogin|date('Y-m-d H:i') }}{% else %}nunca{% endif %}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Friends</b> <a class="pull-right">13,287</a>
                                </li>
                                #}
                            </ul>
                            <h3 class="profile-username text-center">Institucionales</h3>
                            <p class="text-muted text-center">Plantel</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Tipo</b> <a class="pull-right">{{ CONST['TIPOS_PLANTEL'][estudiante.tipoPlantel] }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Gestión</b> <a class="pull-right">{{ CONST['GESTIONES_PLANTEL'][estudiante.gestionPlantel] }}</a>
                                </li>
                            </ul>
                        </div><!-- /.datos basicos -->
                    </div><!-- /.box -->
                    <!-- Notas matematica -->
                    <div class="box-primary col-sm-3 ">
                        <div class="box-body">
                            <h3 class="profile-username text-center">Academicos</h3>
                            <p class="text-muted text-center">Notas Matematicas</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>1er Año</b> <a class="pull-right">{{ estudiante.notaPrimero }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>2do Año</b> <a class="pull-right">{{ estudiante.notaSegundo }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>3er Año</b> <a class="pull-right">{{ estudiante.notaTercero }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>4to Año</b> <a class="pull-right">{{ estudiante.notaCuarto }}</a>
                                </li>
                            </ul>
                            <p class="text-muted text-center">Promedio</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Total Cursadas</b> <a class="pull-right">{{ estudiante.cantMaterias }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Promedio</b> <a class="pull-right">{{ estudiante.promedio }}</a>
                                </li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div><!-- /.notas matematica -->
                    <!-- Opsu y socio-econimicos-->
                    <div class="box-primary col-sm-4 ">
                        <div class="box-body">
                            <h3 class="profile-username text-center">Admisión</h3>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>OPSU</b> <a class="pull-right">{% if estudiante.esAsignadoOPSU %}Sí{% else %}No{% endif %}, asignado.</a>
                                </li>
                                <li class="list-group-item">
                                  <b>1era Opción</b> <a class="pull-right">{{ CONST['CARRERAS'][estudiante.primeraOpcion] }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>2da Opción</b> <a class="pull-right">{{ CONST['CARRERAS'][estudiante.segundaOpcion] }}</a>
                                </li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div><!-- /.opsu y socio-economicos-->
                    <!-- Socio-economicos -->
                    <div class="box-primary col-sm-4 ">
                        <div class="box-body">
                            <h3 class="profile-username text-center">Socio-economicos</h3>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Nivel</b> <a class="pull-right">{{ CONST['NIVELES_SOCIOECONOMICOS'][estudiante.nivelSocioeconomico] }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Gestión</b> <a class="pull-right">{{ CONST['NIVELES_EDUCATIVOS'][estudiante.nivelEstudioPadres] }}</a>
                                </li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div><!-- /.socio-economicos -->
                </div><!-- /.tab-pane datos-->
                <div class="tab-pane" id="progreso">
                    <!-- The progreso -->
                    <ul class="timeline timeline-inverse">
                        <!-- timeline time label -->
                        <li class="time-label">
                            <span class="bg-red">
                                10 Feb. 2014
                            </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-envelope bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                                <div class="timeline-body">
                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle quora plaxo ideeli hulu weebly balihoo...
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">Read more</a>
                                    <a class="btn btn-danger btn-xs">Delete</a>
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-user bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                                <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-comments bg-yellow"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                                <div class="timeline-body">
                                    Take me to your leader!
                                    Switzerland is small and neutral!
                                    We are more like Germany, ambitious and misunderstood!
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline time label -->
                        <li class="time-label">
                            <span class="bg-green">
                                3 Jan. 2014
                            </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-camera bg-purple"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                                <div class="timeline-body">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div><!-- /.tab-pane progreso-->
                <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputExperience" class="col-sm-2 control-label">Experience</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Skills</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.tab-pane settings-->
            </div><!-- /.tab-content -->
        </div><!-- /.nav-tabs-custom -->
        <div>
            <a class="btn btn-default btn-flat" href="{{ path('estudiante_index') }}"><i class="fa fa-arrow-left"></i>&nbsp;ir a lista</a>
            <a class="btn btn-warning btn-flat pull-right" href="{{ path('estudiante_edit', { 'id': estudiante.id }) }}"><i class="fa fa-edit"></i>&nbsp;Editar</a>
        </div>
    </section><!-- /.content -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/angularjs/loadModule.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}