{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{asset('bundles/app/plugins/select2/select2.min.css')}}">
{% endblock %} 
{% block body %}
<div class="" ng-controller="newTemaController">
    <section class="content-header">
        <h1>Tema</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <!-- form start -->
            {{ form_start(form) }}
                <div class="box-body">
                    {{ form_row(form.nombre) }}
                    {{ form_row(form.padres) }}
                    {{ form_label(form.categorias) }}
                    <fieldset  data-ng-repeat="categoria in categorias">
                        <div class="input-group input-group-sm">
                            <span class="form-control">[[ categoria.nombre ]]</span>
                            [[ categoria.procedimiento ]]
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-flat" data-toggle="modal" data-target="#categoriaModal" ng-click="editAction([[$index]])"><i class="fa fa-edit"></i></button>
                            </span>
                        </div>

                        <div ng-hide="false">
                        <input type="text" value="[[ categoria.nombre ]]" id="[[ 'tema_categorias_'+$index+'_nombre' ]]" name="[['tema[categorias]['+$index+'][nombre]' ]]">
                        <textarea value="[[ categoria.procedimiento ]]" id="[[ 'tema_categorias_'+$index+'_procedimiento' ]]" name="[['tema[categorias]['+$index+'][procedimiento]' ]]"></textarea>
                        </div>
                        <button class="remove" ng-show="$last" ng-click="removeCategoria()">-</button>
                    </fieldset>
                    [[ categorias ]]
                    <button class="btn btn-success btn-sm btn-flat" data-toggle="modal" data-target="#categoriaModal" ng-click="addNewCategoria()"><i class="fa fa-plus"></i>&nbsp;Agregar</button>
                </div>
                <div class="box-footer">
                    <a class="btn btn-danger btn-flat" href="{{ path('tema_index') }}"><i class="fa fa-arrow-left"></i>&nbsp;Cancelar</a>
                    <button class="btn btn-primary btn-flat pull-right" type="submit" id="tema_submit" name="tema[submit]"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                </div>
            {{ form_row(form._token) }}
            
                    {#
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                    #}
            {{ form_end(form, {'render_rest': false}) }}
            {#, 'render_rest': false} #}
        </div>
    </section>
    <div id="categoriaModal"class="modal modal-primary">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Categoria</h4>
                </div>
                <div class="modal-body">
                    <div><label class="label-control">Nombre</label><input type="text" class="form-control" ng-model="categoria.nombre"></div>
                    <div><label class="label-control">Procedimiento</label> 
                    <textarea ck-editor id="editor1" name="editor1" ng-model="categoria.procedimiento"></textarea></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-outline" ng-click="saveCategoria()"  data-dismiss="modal"><i class="fa fa-check"></i>&nbsp;Aceptar</button>
                </div>
                [[ categoria ]]
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#
{% javascripts
    '@AppBundle/Resources/public/plugins/ckeditor/*'
    '@AppBundle/Resources/public/plugins/select2/*'%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    #}
    <script src="{{asset('bundles/app/plugins/ckeditor/ckeditor.js')}}"></script>
    <!-- Select2 -->
    <script src="{{ asset('bundles/app/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            //$(".select2").select2();
            $("#tema_padres").select2();
        });
        var urlMath = "{{ asset('bundles/app/plugins/MathJax/MathJax.js?config=TeX-AMS_HTML') }}";
        console.log(urlMath);
        /*CKEDITOR.replace( 'editor1', {
            extraPlugins: 'mathjax',
            mathJaxLib: 'http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
            height: 200
        } );
        if ( CKEDITOR.env.ie && CKEDITOR.env.version == 8 ) {
            document.getElementById( 'ie8-warning' ).className = 'tip alert';
        }*/
    </script>
    {#
    <script src="{{ asset('bundles/app/angularjs/newTema/newTemaModule.js') }}"></script>
    <script src="{{ asset('bundles/app/angularjs/newTema/newTemaController.js') }}"></script>#}

{% javascripts
    '@AppBundle/Resources/public/angularjs/newTema/newTemaModule.js'
    '@AppBundle/Resources/public/angularjs/newTema/newTemaController.js'%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
