{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="http://cdn.ckeditor.com/4.5.7/standard-all/ckeditor.js"></script>
    <!-- Select2 -->
    <link rel="stylesheet" href="{{asset('bundles/app/plugins/select2/select2.min.css')}}">
{% endblock %} 
{% block body %}
<div class="" ng-controller="newTemaController">
    <h1>Tema creation</h1>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Launch demo modal</button>
    {{ form_start(form) }}
    <div id="categoriaModal"class="modal modal-primary">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Categoria</h4>
                </div>
                <div class="modal-body">
                    <div><label class="label-control">Nombre</label><input type="text" class="form-control" ng-model="categoria.nombre"></div>
                    <div><label class="label-control">Procedimiento</label> 
                    <textarea ck-editor ng-model="categoria.procedimiento"></textarea></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-outline" ng-click="addNewCategoria()"  data-dismiss="modal">Aceptar</button>
                </div>
                [[ categoria ]]
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <h1>{{ form.categorias|length }}</h1>
    <fieldset  data-ng-repeat="categoria in categorias">
        <span>[[ categoria.nombre ]]</span>
        <div ng-hide="true">
        <input type="text" value="[[ categoria.nombre]]" ng-model="categoria.nombre" id="[[ 'tema_categorias_'+$index+'_nombre' ]]" name="[['tema[categorias]['+$index+'][nombre]' ]]">
        <textarea value="[[ categoria.procedimiento]]" ng-model="categoria.procedimiento" id="[[ 'tema_categorias_'+$index+'_procedimiento' ]]" name="[['tema[categorias]['+$index+'][procedimiento]' ]]"></textarea>
        </div>
        <button class="remove" ng-show="$last" ng-click="removeCategoria()">-</button>
   </fieldset>
    [[ categorias ]]
        {{ form_row(form.padres) }}
        {{ form_row(form.nombre) }}
        <button class="btn btn-primary btn-lx" data-toggle="modal" data-target="#categoriaModal" ng-click="addNewCategoria()">Agregar categoria</button>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('tema_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <!-- Select2 -->
    <script src="{{ asset('bundles/app/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/app/angularjs/newTema/newTemaModule.js') }}"></script>
    <script src="{{ asset('bundles/app/angularjs/newTema/newTemaController.js') }}"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
        
    </script>
{% endblock %}