{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="http://cdn.ckeditor.com/4.5.7/standard-all/ckeditor.js"></script>
{% endblock %} 
{% block body %}
    <h1>Tema creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('tema_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        CKEDITOR.replace( 'tema_categorias_0_procedimiento', {
            extraPlugins: 'mathjax',
            mathJaxLib: 'http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
            height: 200
        } );
        

        if ( CKEDITOR.env.ie && CKEDITOR.env.version == 8 ) {
            document.getElementById( 'ie8-warning' ).className = 'tip alert';
        }
    </script>
{% endblock %}