{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{asset('bundles/app/plugins/select2/select2.min.css')}}">
{% endblock %} 
{% block body %}
<div ng-controller="newTemaController">
    <section class="content-header">
        <h1>Tema&nbsp;<small class="label {% if edition is defined %}bg-yellow">Edición{% else %}bg-green">Nuevo{% endif %}</small></h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <!-- form start -->
            {{ form_start(form) }}
                <div class="box-body">
                    {{ form_errors(form) }}
                    <div class="form-group col-md-6 col-xs-12">
                    {{ form_row(form.nombre) }}
                    {{ form_row(form.padres) }}</div>
                    <div class="form-group col-md-6 col-xs-12">
                        {{ form_label(form.descripcion) }}
                        {{ form_errors(form.descripcion) }}
                        {{ form_widget(form.descripcion) }}
                    </div>
                </div>
                <div class="box-footer">
                    <a class="btn btn-danger btn-flat" href="{% if edition is defined %}{{ path('tema_show', { 'id': edition }) }}{% else %}{{ path('tema_index') }}{% endif %}"><i class="fa fa-arrow-left"></i>&nbsp;Cancelar</a>
                    <button class="btn btn-primary btn-flat pull-right" type="submit" id="tema_submit" name="tema[submit]"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                </div>
                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{asset('bundles/app/plugins/ckeditor/ckeditor.js')}}"></script>
    <!-- Select2 -->
    <script src="{{ asset('bundles/app/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(function () {
            $("#tema_padres").select2();
        });
        var urlMath = "{{ asset('bundles/app/plugins/MathJax/MathJax.js?config=TeX-AMS_HTML') }}";
    </script>

{% javascripts
    '@AppBundle/Resources/public/angularjs/newTema/newTemaModule.js'
    '@AppBundle/Resources/public/angularjs/newTema/newTemaController.js'%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
