{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{asset('bundles/app/plugins/select2/select2.min.css')}}">
{% endblock %} 
{% block body %}
<div class="" ng-controller="newTemaController">
    <section class="content-header">
        <h1>Tema</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <!-- form start -->
            {{ form_start(form) }}
            {{ form_end(form) }}
            {#, 'render_rest': false} #}
        </div>
    </section>
    <div id="categoriaModal"class="modal modal-primary">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Categoria</h4>
                </div>
                <div class="modal-body">
                    <div><label class="label-control">Nombre</label><input type="text" class="form-control" ng-model="categoria.nombre"></div>
                    <div><label class="label-control">Procedimiento</label> 
                    <textarea ck-editor id="editor1" name="editor1" ng-model="categoria.procedimiento"></textarea></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-outline" ng-click="saveCategoria()"  data-dismiss="modal"><i class="fa fa-check"></i>&nbsp;Aceptar</button>
                </div>
                [[ categoria ]]
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#
{% javascripts
    '@AppBundle/Resources/public/plugins/ckeditor/*'
    '@AppBundle/Resources/public/plugins/select2/*'%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    #}
    <script src="{{asset('bundles/app/plugins/ckeditor/ckeditor.js')}}"></script>
    <!-- Select2 -->
    <script src="{{ asset('bundles/app/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            //$(".select2").select2();
            $("#tema_padres").select2();
        });
        var urlMath = "{{ asset('bundles/app/plugins/MathJax/MathJax.js?config=TeX-AMS_HTML') }}";
        console.log(urlMath);
        /*CKEDITOR.replace( 'editor1', {
            extraPlugins: 'mathjax',
            mathJaxLib: 'http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
            height: 200
        } );
        if ( CKEDITOR.env.ie && CKEDITOR.env.version == 8 ) {
            document.getElementById( 'ie8-warning' ).className = 'tip alert';
        }*/
    </script>
    {#
    <script src="{{ asset('bundles/app/angularjs/newTema/newTemaModule.js') }}"></script>
    <script src="{{ asset('bundles/app/angularjs/newTema/newTemaController.js') }}"></script>#}

{% javascripts
    '@AppBundle/Resources/public/angularjs/newTema/newTemaModule.js'
    '@AppBundle/Resources/public/angularjs/newTema/newTemaController.js'%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
