{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tema</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tema.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tema.nombre }}</td>
            </tr>
            <tr>
                <ul>X {{ tema.padres|length }}x
                {% for padre in tema.padres %}
                    <li>{{ padre}}</li>
                {% endfor %}
                </ul>
            </tr>
            <tr>
                <ul>X
                {% for hijo in tema.hijos %}
                    <li>{{ hijo}}</li>
                {% endfor %}
                </ul>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tema_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tema_edit', { 'id': tema.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
