<header class="main-header">
<nav class="navbar navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><b>SE</b><sapn style="font-size:x-large;">M</sapn><b>PU</b></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    {% if app.user %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('users')}}"><i class="fa fa-users"></i> Usuarios</a></li>
        {% endif %}
        {% if is_granted('ROLE_PROFESOR') %}
        <li><a href="{{ path('estudiante_index')}}"><i class="fa fa-graduation-cap"></i> Estudiantes</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-book"></i> Contenido <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('tema_index')}}"><i class="fa fa-circle-o"></i>Temas</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('ejercicio_index')}}"><i class="fa fa-circle-o"></i>Ejercicios</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('ejercicio_index')}}"><i class="fa fa-circle-o"></i>Expresiones Matematicas</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{{asset('bundles/app/dist/img/avatar.png')}}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{app.user.username}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="{{asset('bundles/app/dist/img/avatar.png')}}" class="img-circle" alt="User Image">
                <p>
                  {{app.user.username}}&nbsp;{{app.user.username}}
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Salir</a>
                </div>
              </li>
            </ul>
          </li>
      </ul>
    </div>
    {% endif %}

  </div><!-- /.container-fluid -->
</nav>
</header>