{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% use 'form_div_layout.html.twig' with form_label %}
{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) -%}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty %}
            {% if label_format is not empty -%}
                {% set label = label_format|replace({'%name%': name,'%id%': id,}) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><i class="fa fa-check-circle text-success" ng-show="isValid('{{ full_name }}')"></i>{{ label|trans({}, translation_domain) }}{% if required %}<span style="color:red" title="Este campo es requerido"> (*)</span>
        {% endif %}
        {% if 'history' in label_attr.class %}
            <a data-toggle="modal" href="#{{historyUrl}}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></a>
        {% endif %}
        {% if 'help' in label_attr.class %}
            <a data-toggle="modal" href="#{{helpUrl}}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
        {% endif %} 
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}
{% block body %}
<div ng-controller="newEjercicioController">
    <section class="content-header">
        <h1>Ejercicio&nbsp;<small class="label {% if edition is defined %}bg-yellow">Edición{% else %}bg-green">Nuevo{% endif %}</small></h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <!-- form start -->
            {{ form_start(form) }}
                <div class="row box-body">
                    {{ form_errors(form) }}
                    <div class="form-group col-md-6 col-xs-12" ng-init="tema = '{{form.tema.vars.value}}';">
                        {{ form_label(form.tema) }}
                        {{ form_errors(form.tema) }}
                        {{ form_widget(form.tema, { 'attr': { 'ng-model':'tema'} }) }}
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        {{ form_label(form.dificultad) }}
                        {{ form_errors(form.dificultad) }}
                        {{ form_widget(form.dificultad) }}
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        {{ form_label(form.estado) }}
                        {{ form_errors(form.estado) }}
                        {{ form_widget(form.estado) }}
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        {{ form_label(form.enunciado) }}
                        {{ form_errors(form.enunciado) }}
                        {{ form_widget(form.enunciado) }}
                    </div>
                    <div class="form-group col-md-6 col-xs-12" ng-init="{% for i in form.respuestas %}addRespuesta(\"{{ i.expresion.vars.value|raw }}\",'{{ i.correcta.vars.checked}}');{% endfor %}">
                        {{ form_label(form.respuestas) }}
                        {{ form_errors(form.respuestas) }}
                        <p>Mínimo 4</p>
                        <fieldset data-ng-repeat="respuesta in respuestas">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" id="[[ 'ejercicio_respuestas_'+$index+'_correcta' ]]" name="[['ejercicio[respuestas]['+$index+'][correcta]' ]]" value="1" ng-checked="isSelected([[$index]])" ng-click="selectAction([[$index]])" >
                                </span>
                                <div ng-bind-html="[[ respuesta.expresion ]]" class="form-control"></div>

                                <span class="input-group-btn">
                                    <a class="btn btn-default btn-flat" data-toggle="modal" data-target="#respuestaModal" ng-click="editAction([[$index]])"><i class="fa fa-edit text-yellow"></i></a>
                                </span>
                                <span class="input-group-btn">
                                    <a class="btn btn-default btn-flat" ng-click="removeAction([[$index]])"><i class="fa fa-trash text-red"></i></a>
                                </span>
                            </div>

                            <div ng-hide="true">
                             <input type="text" ng-model="tema" id="[[ 'ejercicio_respuestas_'+$index+'_tema' ]]" name="[['ejercicio[respuestas]['+$index+'][tema]' ]]"> 
                            <textarea id="[[ 'ejercicio_respuestas_'+$index+'_expresion' ]]" name="[['ejercicio[respuestas]['+$index+'][expresion]' ]]">[[ respuesta.expresion ]]</textarea>
                            </div>
                        </fieldset>
                        <a class="btn btn-success btn-xs btn-flat" data-toggle="modal" data-target="#respuestaModal" ng-click="addNewRespuesta()"><i class="fa fa-plus"></i>&nbsp;Agregar</a>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary btn-flat pull-right" type="submit" id="ejercicio_submit" name="ejercicio[submit]" ><i class='fa fa-save'></i>&nbsp;Guardar </button>
                    <a class="btn btn-danger btn-flat pull-right" href="{% if edition is defined %}{{ path('ejercicio_show', { 'id': edition }) }}{% else %}{{ path('ejercicio_index') }}{% endif %}"><i class="fa fa-arrow-left"></i>&nbsp;Cancelar</a>
                </div>
                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </section>
    <div id="respuestaModal"class="modal modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Respeusta</h4>
                </div>
                <div class="modal-body">
                    <div><label class="label-control">Expresion&nbsp;<i class="fa fa-asterisk text-red" title="Campo requerido"></i></label> 
                    <textarea ck-editor id="editor1" name="editor1" ng-model="respuestaExpresion"></textarea></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-success" ng-click="saveRespuesta()"  data-dismiss="modal" ng-disabled="invalidRespuesta"><i class="fa fa-check"></i>&nbsp;Aceptar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{asset('bundles/app/plugins/select2/select2.min.css')}}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('bundles/app/plugins/ckeditor/ckeditor.js')}}"></script>
    <script src="{{ asset('bundles/app/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/jQuery/jquery.validate.min.js') }}"></script>
    <script>
        $(function () {/*Initialize Select2 Elements*/$(".select2").select2();});
        var urlMath = "{{ asset('bundles/app/plugins/MathJax/MathJax.js?config=TeX-AMS_HTML') }}";
    </script>
    <script src="{{ asset('bundles/app/plugins/MathJax/MathJax.js?config=TeX-AMS_HTML') }}"></script>

    <script src="{{ asset('bundles/app/angularjs/angular-sanitize.min.js')}}"></script>

    {% javascripts
        '@AppBundle/Resources/public/angularjs/newEjercicio/newEjercicioModule.js'
        '@AppBundle/Resources/public/angularjs/newEjercicio/newEjercicioController.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}