{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-header">
        <h1>Ejercicio&nbsp;<small class="label bg-blue">{{ejercicio.id}}</small></h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-xs-12 col-md-2 control-label">Tema</label> 
                    <div class="col-xs-12 col-md-10">
                        <p class="form-control-static">{{ ejercicio.tema }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-md-2 control-label">Enunciado</label> 
                    <div class="col-xs-12 col-md-10">
                        <p class="form-control-static">{{ ejercicio.enunciado|raw }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-md-2 control-label">Solución Detallada</label> 
                    <div class="col-xs-12 col-md-10">
                        <p class="form-control-static">{{ ejercicio.solucionDetallada|raw }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-md-2 control-label">Soluciones</label> 
                    <div class="col-xs-12 col-md-10">
                        {% for sol in ejercicio.soluciones %}
                            <p class="form-control-static">{{ sol|raw }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a class="btn btn-default btn-flat" href="{{ path('ejercicio_index') }}"><i class="fa fa-arrow-left"></i>&nbsp;ir a lista</a>
                <a class="btn btn-warning btn-flat pull-right" href="{{ path('ejercicio_edit', { 'id': ejercicio.id }) }}"><i class="fa fa-edit"></i>&nbsp;Editar</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('bundles/app/plugins/MathJax/MathJax.js?config=TeX-AMS_HTML') }}"></script>
    
    {% javascripts
        '@AppBundle/Resources/public/angularjs/loadModule.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}