{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ejercicio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ejercicio.id }}</td>
            </tr>
            <tr>
                <th>Nivel</th>
                <td>{{ ejercicio.nivel }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ ejercicio.categoria }}</td>
            </tr>
            <tr>
                <th>Tema</th>
                <td>{{ ejercicio.tema }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ejercicio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ejercicio_edit', { 'id': ejercicio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
