{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ejercicio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ejercicio.id }}</td>
            </tr>
            <tr>
                <th>Dificultad</th>
                <td>{{ ejercicio.dificultad }}</td>
            </tr>
            <tr>
                <th>Enunciado</th>
                <td>{{ ejercicio.enunciado|raw }}</td>
            </tr>
            <tr>
                <th>Solucion Detallada</th>
                <td>{{ ejercicio.solucionDetallada|raw }}</td>
            </tr>
            <tr>
                <th>Soluciones</th>
                <td>
                    <ul>
                    {% for sol in ejercicio.soluciones %}
                        <li>{{ sol|raw }}</li>
                    {% endfor %}
                    </ul>        
                </td>
                    
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ejercicio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ejercicio_edit', { 'id': ejercicio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
