{#% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="col-xs-12">Los 5 Mandamientos de Matemáticas</h2>
            <h4 class="col-md-4 col-xs-12">1. Asiste a clases</h4>
            <h4 class="col-md-4 col-xs-12">2. Atiende las explicaciones del profesor</h4>
            <h4 class="col-md-4 col-xs-12">3. Pregunta cada vez que no entiendas</h4>
            <h4 class="col-md-4 col-xs-12">4. Haz todas las tareas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
        </div>
        <div style="width: 200px;margin: auto;">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-success">¡Vamos a Practicar! <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
{% endblock % #}
{% extends 'base.html.twig' %}

{% block body %}

  <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
  </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <a href="{{ path('tema_index')}}" class="small-box-footer">
              <div class="inner">
                <h3>{{ contenido['temas'] }}</h3>
                <p>{{ contenido['temas_titulo'] }}</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-book-outline"></i>
              </div>
              Ir</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <a href="{{ path('ejercicio_index')}}" class="small-box-footer">
              <div class="inner">
                <h3>{{ contenido['ejercicios'] }}{#<sup style="font-size: 20px">%</sup>#}</h3>
                <p>Ejercicios agregados</p>
              </div>
              <div class="icon">
                <i class="ion ion-edit"></i>
              </div>
            Ir</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
              <a href="{{ path('estudiante_index')}}" class="small-box-footer">
              <div class="inner">
                <h3>{{ contenido['estudiantes'] }}</h3>
                <p>{{ contenido['estudiantes_titulo'] }}</p>
              </div>
              <div class="icon"><i class="ion ion-university"></i></div>
              Ir </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <a href="{{ path('practica_index')}}" class="small-box-footer">
            <div class="inner">
              <h3>{{ contenido['practicas'] }}</h3>
              <p>{{ contenido['practicas_titulo'] }}</p>
            </div>
            <div class="icon"><i class="ion ion-ribbon-a"></i></div>
            Ir</a>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </section>

    {% endblock %}
{% block javascripts %}
    {{ parent() }}  
    
    {% javascripts
        '@AppBundle/Resources/public/angularjs/loadModule.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}