{% extends 'base.html.twig' %}
{% block title %}Practicas{% endblock %}
{% block body %}
<section class="content-header">
    <h1 class="box-title">Practicas</h1>
</section>
<section class="content">
<div class="box">
    <div class="box-body">
        <div class="table-responsive">
            <table id="tabla-practicas" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Calificación</th>
                        <th>Estado</th>
                        <th>Estudiante</th>
                        <th>Operación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for practica in practicas %}
                        <tr>
                            <td><a href="{{ path('practica_show', { 'id': practica.id }) }}">{{ practica.id }}</a></td>
                            <td>{{ practica.calificacion }}</td>
                            <td>{% if practica.finalizada %}<span class="label label-warning pull-right">Finalizada</span>{% else %}<span class="label label-success pull-right">Iniciada</span>{% endif %}</td>
                            <td><a href="{{ path('estudiante_show', { 'id': practica.estudiante.id }) }}">{{ practica.estudiante.usuario.username}}</a></td>
                            <td><a class="btn btn-default btn-flat" href="{{ path('practica_show', { 'id': practica.id }) }}"><i class="fa fa-eye"></i>&nbsp;Ver</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}


{% block javascripts %}
    {{ parent() }}  
    <script src="{{ asset('bundles/app/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/app/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>

    <script> $(document).ready(function() {
        $('#tabla-practicas').DataTable({
            //"responsive": true,
            //"scrollX": true,
            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ practicas",
                "sInfoEmpty":      "Mostrando del 0 al 0 de un total de 0 practicas",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ practicas)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    } );
    </script>    
    {% javascripts
        '@AppBundle/Resources/public/angularjs/loadModule.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
