{% extends 'base.html.twig' %}
{% block body %}
<div ng-controller="startPracticaController">
    <section class="content-header">
        <h1>Practica&nbsp;<small class="label bg-blue">{{practica.id}}</small>
            <span ng-if="finalizado" class="label label-warning pull-right">Finalizada</span>
            <span ng-if="!finalizado" class="label label-warning pull-right">Ejercicio [[ ejercicio.id + 1 ]] de {{practica.data|length }}</span>
        </h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group col-xs-12" ng-hide="finalizado">
                    <h4 class="col-md-4 col-sm-6"><i class="fa fa-check"></i> Aciertos <small class="label label-default">[[ aciertos ]]</small></h4>
                    <h4 class="col-md-4">Dificultad <small class="label label-default">{{ practica.data[0]['ejercicio'].dificultadString }}</small></h4>
                    <h4 class="col-md-4"><i class="fa fa-book"></i> Tema <a href="{{ path('tema_show', {'id': practica.data[0]['ejercicio'].tema.id }) }}">{{ practica.data[0]['ejercicio'].tema.nombre }}</a></h4>
                </div>
                <div class="form-group col-xs-12 check-element animate-hide" ng-hide="finalizado">
                    <div ng-bind-html="ejercicio.enunciado">
                    </div>
                    <ul class="list-group">
                        <li ng-class="{ 'bg-yellow': opciones[$index].checked }" class="list-group-item col-md-6 col-xs-12" data-ng-repeat="respuesta in ejercicio.respuestas" style="cursor:pointer;" ng-click="selectAction([[$index]])">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input style="cursor:pointer;" ng-disabled="evaluando" type="checkbox" id="ejercicio_respuestas_[[$index]]_correcta" value="1" ng-model="opciones[$index].checked" ng-click="updateSelection($index)" >
                                </span>
                                <div ng-bind-html="[[ ejercicio.respuestas[$index] ]]" class="form-control">[[ respuesta]] {#[[respuesta.expresion ]]#}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div ng-if="correcto" class="col-xs-12 alert alert-success" class="animate-if">
                    <h4><i class="icon fa fa-check"></i> Correcto!</h4>
                </div>
                <div ng-if="incorrecto" class="col-xs-12 alert alert-danger" class="animate-if">
                    <h4><i class="icon fa fa-close"></i> Incorrecto!</h4>
                </div>
                <div ng-show="finalizado" class="col-lg-3 col-xs-6">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="ion ion-checkmark"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Aciertos</span>
                            <span class="info-box-number">[[ aciertos ]]</span>
                        </div><!-- /.info-box-content -->
                    </div>
                </div>
                <div ng-show="finalizado" class="col-lg-3 col-xs-6">
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="ion ion-star"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Puntuación</span>
                            <span class="info-box-number">[[ aciertos * 100 / 4 ]]%</span>
                        </div><!-- /.info-box-content -->
                    </div>
                </div>
                <div ng-show="finalizado" class="col-xs-12" style="text-align: center;">
                    <a href="{{ path('practica_generate')}}" class="btn btn-app"><i style="color: green;"class="fa fa-play"></i> Intentarlo de nuevo</a>
                </div>
                <div ng-show="finalizado" class="col-xs-12" style="text-align: center;">
                    <a href="{{ path('homepage')}}" class="btn btn-app"><i style="color: green;"class="fa fa-home"></i> Ir al Inicio</a>
                </div>
            </div>
            <div class="box-footer" style="text-align: center;">
                <a ng-hide="finalizado || correcto || incorrecto" ng-if="!finalizado" class="btn btn-danger" href="{{ path('homepage') }}"><i class="fa fa-pause"></i>&nbsp;Pausar</a>
                <button ng-hide="finalizado || correcto || incorrecto" class="btn btn-success" ng-disabled="isValid()" ng-click="evaluar()">[[ titulo_boton ]]</button>
                <button ng-show="!finalizado && (correcto || incorrecto)" id="practica_submit" class="btn btn-success" ng-click="siguiente()">[[ titulo_boton2 ]]</button>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
          var response = "{{ practica_json }}";
          var div = document.createElement('div');
          div.innerHTML = response;
          response = div.firstChild.nodeValue;
          response = JSON.parse(response);
          console.log("response",response);
    </script>

    <script src="{{ asset('bundles/app/plugins/MathJax/MathJax.js?config=TeX-AMS_HTML') }}"></script>

    <script src="{{ asset('bundles/app/angularjs/angular-sanitize.min.js')}}"></script>

    {% javascripts
        '@AppBundle/Resources/public/angularjs/startPractica/startPracticaModule.js'
        '@AppBundle/Resources/public/angularjs/startPractica/startPracticaController.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}